* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  // margin: 0 auto;
  // padding: 10px;
}

.nav-menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  order: -1;
  display: flex;
  align-items: center;
  column-gap: 17px;

  &-img {
    height: 41px;
    text-align: center;
  }

  &-img__hover {
    height: 41px;
    text-align: center;
    display: none;
  }
  &:hover .logo-img {
    display: none;
  }
  &:hover &-img__hover {
    display: block;
  }

  &-title {
    color: $color-text-main;
    text-transform: uppercase;
    font-family: $font-l;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;

    &:hover {
      color: $color-light-text;
      cursor: pointer;
    }
  }
}
.nav-menu {
  order: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 98px;
  // column-gap: 48px;

  &__item {
    color: $color-text-main;
    font-family: $font-m;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;
    margin-right: 48px;
    // flex-grow: 1;
    white-space: nowrap;

    &:hover {
      color: $color-light-text;
      cursor: pointer;
    }
  }
}
.nav-menu__btn-buy {
  order: 3;
  color: $color-light-text;
  padding: 11px 20px;
  border-radius: 40px;
  background-color: $color-text-main;
  display: block;
  font-family: $font-m;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  white-space: nowrap;
  // margin-left: 48px;

  &:hover {
    background-color: $color-light-text;
    color: $color-text-main;
    cursor: pointer;
  }
}

.header {
  background-image: url(../../../src/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;

  &__title {
    font-family: $font-m;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 82px;
    color: $color-light-text;
    margin-top: 85px !important;
    text-align: center;
  }

  &__subtitle {
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: $color-text-main;
    margin-top: 19px !important;
    text-align: center;
  }

  &__text {
    font-family: $font-m;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #848e97;
    margin-top: 19px !important;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .nav-menu__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    background: #27262a;
  }
  .logo {
    order: -1;
    margin-left: 24px;
  }
  .nav-menu {
    order: 1;
    justify-content: center;
    height: 40px;
    padding-bottom: 18px;
  }
  .nav-menu__btn-buy {
    order: -1;
    justify-content: flex-end;
    margin-right: 24px;
    margin-top: 24px;
  }

  .header__title {
    font-size: 72px;
    line-height: 72px;
    margin-top: 69px !important;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .logo-title {
    display: none;
  }
  .nav-menu {
    display: none;
  }

  .nav-menu__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
  }

  .nav-menu__btn-buy {
    margin-right: 0px;
    margin-top: 0px;
  }

  .header__title {
    font-size: 48px;
    line-height: 48px;
    margin-top: 50px !important;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .header__text {
    font-size: 14px;
    line-height: 14px;
  }
}
