.people-talking {
  background-image: url(../../../dist/img/people_talking/people_talking_img_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 830px;

  &__title {
    font-family: $font-m;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: $color-light-text;
    padding-top: 108px;
    padding-bottom: 82px;
    text-align: center;

    @media (max-width: 480px) and (min-width: 320px) {
      font-size: 36px;
      line-height: 48px;
      padding-top: 57px;
      padding-bottom: 53px;
    }
  }
  @media (max-width: 480px) and (min-width: 320px) {
    background-image: url(../../../dist/img/people_talking/people_talking_img_bg_2.png);
    height: auto;
    padding: 20px;
  }
}
@media (max-width: 992px) {
.people-talking {
  height: auto;
}
}

.people-talking__elems-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
  column-gap: 97.5px;
  row-gap: 112px;

  @media (max-width: 480px) and (min-width: 320px) {
    row-gap: 45px;
  }
}

.people-talking__elem {
  text-align: center;

  &--logo {
    padding-bottom: 22px;
  }

  &--text {
    font-family: $font-l;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $color-light-text;
  }
  @media (max-width: 480px) and (min-width: 320px) {
    &--text {
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      width: 80%;
      margin: 0 auto;
    }
  }

  @media (max-width: 992px) {
    .people-talking__elems-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      column-gap: 70px;
      row-gap: 62px;
    }
    

  }
}

.people-talking__footer {
  font-family: $font-l;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  padding-top: 118px;
  padding-bottom: 18px;
  text-align: center;

  @media (max-width: 992px) {
    padding-top: 67px;
  }

  @media (max-width: 480px) and (min-width: 320px) {
    padding-top: 37px;
    width: 85%;
    margin: 0 auto;
  }

}

.people-talking__footer--line {
  max-width: 780px;
  height: 2px;
  background: #645766;
  border: none;
  margin: 0 auto;

  @media (max-width: 480px) and (min-width: 320px) {
    .people-talking__footer--line {
    max-width: 555px;
    margin: 0 auto;
    }
  }
}
