.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.fork-subscription {
  background-image: url(../../../dist/img/fork_subscription/Layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  &__title {
    font-family: $font-m;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: $color-light-text;
    padding-top: 112px;
    padding-bottom: 61px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 97px;
  }
  &__card {
    width: 257px;
    margin-right: 15px;
    mix-blend-mode: normal;
    background: $color-card-background;
    box-sizing: border-box;
    height: 457px;
  }
  @media (max-width: 992px) and (min-width: 481px) {
    &__title {
      padding-top: 88px;
      padding-bottom: 39px;
      font-size: 42px;
      line-height: 44px;
    }
    &__card {
      margin-right: 25px;
      margin-bottom: 30px;
    }
    &__wrapper {
      max-width: 887px;
      padding-bottom: 0;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 480px) and (min-width: 320px) {
    &__title {
      padding-top: 14px;
      padding-bottom: 32px;
      font-size: 28px;
      line-height: 42px;
    }
    &__card {
      margin-bottom: 18px;
    }
    &__wrapper {
      padding-bottom: 0;
      flex-wrap: wrap;
    }
  }
}
.card {
  background: $color-card-background;
  background-blend-mode: normal;
  box-sizing: border-box;
  &__title {
    font-family: $font-m;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $color-light-text;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 36px;
    background: $color-card-title-background;
  }
  &__price {
    font-family: $font-m;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: $color-light-text;
    padding-top: 10px;
    background: $color-card-background;
  }
  &__price-span {
    font-weight: bold;
  }
  &__period {
    font-family: $font-m;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-light-text;
    padding-top: 20px;
    padding-bottom: 73px;
    background: $color-card-background;
    mix-blend-mode: normal;
    position: relative;
  }
  &__period::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #8d81ac;
    left: 99px;
    top: 76px;
  }
  &__text {
    font-family: $font-m;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: $color-light-text;
    background: $color-card-background;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__text:first-child {
    padding-bottom: 70px;
  }
  &__button {
    font-family: $font-m;
    text-align: center;
    padding: 15px 38px;
    border-radius: 50px;
    border: none;
    background: #796b79;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-light-text;
    margin-left: 46.5px;
  }
}
.fork-subscription-third__card {
  background: #49344c;
  margin-right: 15px;
  width: 299px;
  height: 560px;
  @media (max-width: 992px) and (min-width: 481px) {
    transform: translateX(-20px);
    margin-right: 25px;
    margin-bottom: 54px;
  }
  @media (max-width: 480px) and (min-width: 320px) {
    transform: translateY(0);
    margin-bottom: 18px;
  }
}
.card-third {
  &__title {
    font-family: $font-m;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $color-light-text;
    text-transform: uppercase;
    padding-top: 43px;
    padding-bottom: 43px;
    background: #3f2d41;
  }
  &__price {
    font-family: $font-m;
    font-size: 82px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: $color-light-text;
    padding-top: 14px;
    background: #49344c;
  }
  &__price-span {
    font-weight: bold;
  }
  &__period {
    font-family: $font-m;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-light-text;
    padding-top: 13px;
    padding-bottom: 91px;
    background: #49344c;
    mix-blend-mode: normal;
    position: relative;
  }
  &__period::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: #8d81ac;
    left: 118px;
    top: 76px;
  }
  &__text {
    font-family: $font-m;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: $color-light-text;
    background: #49344c;
    padding-bottom: 83px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__button {
    font-family: $font-m;
    text-align: center;
    padding: 15px 38px;
    border-radius: 50px;
    border: none;
    background: #796b79;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $color-light-text;
    margin-left: 63px;
  }
}
.top-margin {
  margin-top: 16px;
}
.fourth-card {
  @media (max-width: 992px) and (min-width: 481px) {
    transform: translateX(-21px) translateY(-23px);
  }
}
