.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.bacground {
  background: #f4f4f4;
}
.here-is {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 730px;
  align-content: space-between;
  overflow: hidden;
  &__wrapper {
    width: 405px;
  }
  &__wrapper-title {
    order: 1;
    // flex: 1;
    flex-grow: 1;
    // width: 100%;
  }
  &__title {
    font-family: $font-m;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: $color-text-main;
    margin-top: 94px;
    order: 1;
    margin-left: 25px;
  }
  &__wrapper-section {
    width: 540px;
    display: flex;
    flex-direction: column;
  }
  &__img--wrapper {
    width: 111px;
    text-align: center;
    box-sizing: border-box;
  }
  &__elem {
    display: flex;
    order: -1;
    margin-left: 90px;
    margin-bottom: 35px;
  }
  &__img {
    order: 3;
    margin-top: 19px;
    // flex-grow: 1;
    // width: 100%;
  }
  @media (max-width: 992px) and (min-width: 481px) {
    flex-wrap: nowrap;
    height: auto;
    &__title {
      order: -1;
      font-size: 42px;
      line-height: 44px;
      text-align: center;
      margin-top: 60px;
    }
    &__wrapper {
      width: auto;
    }
    &__wrapper-section {
      order: 1;
      width: 100%;
    }
    &__elem {
      margin-left: 30px;
      margin-bottom: 60px;
    }
    &__img {
      margin-top: 16px;
    }
    &__img-margin-bottom {
      width: 100%;
    }
  }
  @media (max-width: 480px) and (min-width: 320px) {
    flex-wrap: nowrap;
    height: auto;
    &__title {
      order: -1;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      margin-top: 60px;
    }
    &__wrapper-section {
      order: 1;
      width: auto;
    }
    &__elem {
      flex-direction: column;
      align-items: center;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 40px;
    }
    &__img-margin-bottom {
      width: 100%;
    }
  }
}
.elem {
  &__title {
    font-family: $font-m;
    font-size: 16px;
    line-height: 21px;
    color: $color-subtitle;
    padding-left: 24px;
  }
  &__text {
    padding-top: 17px;
    font-family: $font-m;
    font-size: 14px;
    line-height: 21px;
    color: $color-text-info;
    text-align: left;
    margin-left: 24px;
  }
  @media (max-width: 480px) and (min-width: 320px) {
    &__title {
      margin-top: 20px;
      text-align: center;
    }
    &__text {
      text-align: center;
      max-width: 268px;
      margin: 0 auto;
    }
  }
}
.elem__img {
  max-width: 100%;
  height: auto;
}
.margin-top {
  margin-top: 99px;
}
@media (max-width: 992px) and (min-width: 481px) {
  .margin-top {
    margin-top: 50px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .margin-top {
    margin-top: 36px;
  }
}
