.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.revolutionaly-editor {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    background: $color-btn;
    border-radius: 40px;
    padding: 23px 61px;
    font-family: $font-m;
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    border: none;
    color: $color-light-btn-text;
    border: 2px solid $color-btn;
    transform: translateY(-50%);
  }
  &__btn:hover {
    background: #ffffff;
    border: 2px solid $color-btn;
    color: $color-btn;
  }
  &__btn-info {
    font-family: $font-m;
    font-size: 14px;
    line-height: 15px;
    color: $color-text-info;
    transform: translateY(-19px);
  }
  &__title {
    font-family: $font-m;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: $color-title-revolutionary;
    margin-top: 66px;
  }
  &__text {
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: $color-subtitle;
    margin-top: 35px;
    text-align: center;
    max-width: 52%;
    margin-bottom: 13px;
  }
  @media (max-width: 992px) and (min-width: 481px) {
    &__title {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }
    &__btn-info {
      font-size: 14px;
      line-height: 16px;
    }
    &__text {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 480px) and (min-width: 320px) {
    &__title {
      font-size: 26px;
      line-height: 28px;
      margin-top: 80px;
      text-align: center;
    }
    &__btn-info {
      font-size: 18px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      max-width: 80%;
      margin-bottom: 36px;
    }
  }
}
.pagehead-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 70%;
}
.item {
  margin-right: 10px;
  margin-bottom: 20px;
}
.item-elem {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 12px;
  line-height: 20px;
  padding: 3px 12px;
  background-color: #f6f8fa;
  border: 1px solid rgb(27 31 36 / 15%);
  border-radius: 6px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.item-svg {
  vertical-align: text-top;
  padding-right: 2px;
  fill: #57606a;
}

.dropdown-caret {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background-color: #ffffff;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid rgb(27 31 36 / 15%);
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
