$font-l: 'Lato', sans-serif;
$font-m: 'Montserrat', sans-serif;
$color-text-main: #8d81ac;
$color-light-text: #ffffff;
$color-light-btn-text: #ffffff;
$color-btn: #8d81ac;
$color-text-info: #848e97;
$color-title-revolutionary: #635c73;
$color-subtitle: #323232;
$color-card-background: #69586c;
$color-card-title-background:#6a5b6c;
